:root {
    --accent-color: #ff9800;
    --accent-color-dark: #e98000;
    --primary-grey: #191B1F;
    --secondary-grey: #292b2f;
    --light-grey: #393b3f;
    --background-color: #0c0c0e;
    --white: #fff;
}